<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your Favorite Books Reviewed</h1>
    <p><%= link_to "Sign Up To Write A Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>


<p id="notice"><%= notice %></p>

<h1>Books</h1>




    <% @books.each do |book| %>

      <h3><%= book.title %></h3>
      <%= image_tag book.product_image_url, size: "50x50" %>

      <h5> by <%= book.author %></h5>
        <%= book.summary.truncate_words(56) %> <br>

        <%= link_to 'Show', book %>
        <%= link_to 'Edit', edit_book_path(book) %>
      <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %>
<br>
    <% end %>


<br>

<%= link_to 'New Book', new_book_path %>
