<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
      <%= link_to "write a review", new_book_review_path(@book) %>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h1 class="review_title"><%= @book.title %></h1>
        <%= image_tag @book.product_image.thumb.url %>
        <h5><%= @book.author %></h5>

        <p><%= @book.summary %></p>
        <br>
        <div class="star-rating" data-score= <%= @avg_review %> ></div>
        <em><%= "#{@reviews.length} reviews" %></em>


        <% if @reviews.blank? %>
         <h3>No reviews just yet, would you like to add the first!</h3>
         <%= link_to "Write Review", new_book_review_path(@book), class: "btn btn-danger" %>
       <% else %>
         <% @reviews.each do |review| %>
         <div class="reviews">
             <div class="star-rating" data-score= <%= review.rating %> ></div>
             <p><%= review.comment %></p>
           </div>
         <% end %>
       <% end %>
    </div>

  </div>

</div>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>
